<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ page.title }}</title>
</head>
<body>
    <nav>
        <ul>
          {% for page in collections.page %}
          <li class="t-{{ page.data.pageClass }}">
            <a href="{{ page.url }}"> {{ page.data.navTitle }} </a>
          </li>
          {% endfor %}
        </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <script src="/js/script.js"></script>
</body>
</html>